/* navbar */
.do{display: flex;
    justify-content: flex-end !important;}

    /* section 2 */
    .section-2-row{display: flex;
    justify-content: center;
align-items: center;
padding-right: 40px;
padding-left: 40px;}

    .section-2-container{background-color:#f5f7fa;
    margin-top: 50px;}

    span{color:#4caf4f;}

    .second-sect-img{width: 70%;
    display: flex;
position: relative;
left:100px;}
/* section 3 */
.section-3-ul{display: flex;
    gap:140px;
flex-wrap: wrap;
align-items: center;}
.section-3-ul li{list-style: none;
}

.section-3-col{display: flex;
flex-direction: column;
justify-content: center;
align-items: center;}

.section-3-container{margin-top: 40px;}

/* media query */
@media screen and (max-width: 576px){.section-3-ul{gap:20px;
flex-direction: column;}}

/* ----------- section 4--------------- */
.section-4-container{margin-top: 60px;}

.section-4-row .section-4-h2{display: flex;
justify-content: center;
align-items: center;}

.section-4-p-1{display: flex;
justify-content: center;
align-items: center;}

.section-4-col{display: flex;
flex-direction: column;
justify-content: center;
align-items: center;}

/* -----------section 5 ------------- */
.section-5-container{margin-top: 60px;
background-color: #f5f7fa;
}

.section-5-row{padding-top:30px;}
.section-5-col{display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

/* footer */
.footer-row{padding-top: 40px;}
 .footer{background-color: #000000;}
.icon{list-style: none;
display: flex;
gap: 10px;}

#footer-img{color:white;}

.company-li{list-style: none;}
.company-li a{text-decoration: none;
color: white;}
.footer-row p{color: white;}

.icon i{color: white;}
.input{display: flex;
border:2px solid red;
justify-content: center;
align-items: center;
width: 230px;
}
input{border: none;
outline: none;}
.fa-solid{color:white;}
 .footer-row h4{color:white;}